:root {

  --md-primary-fg-color: #FFCC00;
  --md-primary-fg-color--light: #FFE066;
  --md-primary-fg-color--dark: #E6B800;
  --md-accent-fg-color: #0046AD;
}

.md-content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
}


.md-header, .md-tabs {
  background-color: var(--md-primary-fg-color);
  color: var(--md-accent-fg-color);
}

.md-footer {
  background-color: var(--md-primary-fg-color--dark);
  color: #0046AD;
}


a {
  color: var(--md-accent-fg-color);
}


.md-nav__link {
  color: #0046AD !important;
}

.md-nav__link--active {
  font-weight: bold;
  color: #002F6C !important;
}


h1, h2, h3 {
  color: #0046AD;
}
